name: Release Notes

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.1.2

      - name: Create/Update Draft
        uses: lucacome/draft-release@v1.0.3
        with:
          minor-label: 'enhancement'
          major-label: 'change'
          publish: ${{ startsWith(github.ref, 'refs/tags/') }}
          collapse-after: 20
